.carousel-section {
  height: 100vh;
  background: #22262e;
  background-attachment: fixed;
  width: 100%;
  color: #fff;

  .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .my-slider {
      .row {
        // justify-content: center;

        .col-xl-12 {
          .card {
            background: red;
            border: none;

            .card-header {
              border: none;
              background: transparent;
            }

            .card-body {

              .btn-primary {
                border-radius: 0;
                padding: 1rem;
                ;
                color: #fff;
                background: gray;
                border: none;
                outline: none;

              }
            }

            .card-footer {
              background: transparent;
              border: none;
            }
          }
        }

      }
    }
  }

}


.cta {
  background: rgb(38, 128, 231);
  height: 300px;
  width: 100%;

  .container {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;

    h1 {
      font-size: 4em;
    }
  }
}

#projects {
  .row {
    margin: 3rem auto;
    align-items: center;
    justify-content: space-evenly;

    .col-xl-4 {
      img {
        width: auto;
      }
    }
  }
}

#partners {
  background: rgb(38, 128, 231);
  height: 200px;
  width: 100%;

  .container {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
    color: #fff;

    h1 {
      font-size: 4em;
    }
  }
}

#partner-details {
  background: #fff;

  .row {
    margin-top: 1.5rem;
    align-items: center;
  }
}