footer.sticky {

    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-content {
        .row {
            .card {
                background: transparent;
                color: #fff;
                border: none;
                margin-bottom: 1.5rem;
            }
        }
    }





}