section.banner {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


    .card {
        background: transparent;
        width: 100%;
        color: #fff;
        border: none;
        margin-top: 9rem;
        padding-top: 5rem;

        p {
            @media all and (max-width:425px) {
                font-size: .8em
            }
        }

        h1 {
            font-size: 4em;


            @media all and (max-width:425px) {
                font-size: 2em;
            }
        }

        .arrow-down {
            padding-top: 2rem;

            @media all and (max-width:425px) {
                padding-top: 1rem;
            }

            a {
                color: #fff;
            }

            i {
                border: solid #fff 2px;
                padding: 1.2rem;
                border-radius: 50%;
                transition: all .2s ease-in;

                &:hover {
                    background: #fff;
                    color: #000;
                    transform: translateY(-2px);
                }

                &:active {
                    transform: translateY(2px);

                }
            }

        }

    }



    @media all and (max-width:768px) {
        background-size: cover;
        height: 100vh;



    }
}