// #edb059

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 99;



    .top-nav {
        background: var(--primary);
        color: #fff;
        margin: 0;


        .contact-action {
            .action-group {
                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                font-size: 0.8em;


                .show-on-med {

                    @media all and (max-width:768px) {
                        display: block;

                    }
                }

                .actions {
                    padding-top: 1.5rem;
                    padding-bottom: 1.5rem;
                    margin-left: 1rem;

                    &:nth-child(1) {
                        flex: 0 0 0%;
                    }

                    @media all and (max-width:999px) {
                        display: none;

                        &:nth-child(1) {
                            display: flex;
                            flex: 1;
                            justify-content: center;
                            font-size: 1.2em;
                            font-weight: 700;

                        }

                    }


                }
            }
        }

    }

    nav {


        .navbar-brand {
            display: none;

            @media all and (max-width:999px) {
                display: initial;
            }
        }

        .medium-list {
            display: none;

            @media all and (max-width:999px) {
                display: initial;
            }
        }

        .navbar-nav {

            justify-content: center;
            align-items: center;
            width: 100%;

            .nav-item {


                .nav-link {

                    &::after {
                        content: "";
                        display: block;
                        width: 0;
                        height: 4px;
                        background: var(--primary);
                    }

                    &:hover::after {
                        transition: var(--transition-hover);

                        width: 100%;
                    }
                }
            }

        }
    }
}