section.cta {
  width: 100%;
  background-color: var(--primary);
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: #fff;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

section.projects {
  padding-top: 2rem;
  overflow: hidden;
  background-color: #fff;

  .container {
    .row {
      align-items: center;
      margin-bottom: 2rem;
      width: 100%;
      height: 50%;

      .img-fluid {
        @media all and (max-width: 425px) {
          margin-bottom: 2rem;
        }
      }
    }
  }
}