// Core variables and mixins

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    position: relative;

}

.heading-1 {
    @media all and (max-width:425px) {
        font-size: 1.5em;
    }
}

@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
@import "project.scss";
@import "partners.scss";
@import "image-gallery.scss";
@import "triangular.scss";
@import "blog.scss";
@import "main.scss";
@import "about.scss";
// Components
@import "components/navigation.scss";
@import "components/carousel.scss";
@import "components/footer.scss";
@import "components/accordion.scss";
@import "components/popup.scss";
@import "components/button.scss";